@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F5F6F8;
}

ul li:hover {
  color: #1D4ED8;
  cursor: pointer;
}

.product {
  margin-top: 90px;
}
.img-product {
  width: 300px;
  height: 300px;
}
.img-product:hover {
  cursor: pointer;
  filter: grayscale(20%);
}

.title-product:hover {
  cursor: pointer;
  color: #3867d6;
  font-weight: 700;
}

.newsletter {
  margin-top: 80px;
}

.sendbtn {
  transform: translate(-132px,-12px);
}

.cards {
  margin-top: 80px;
}